body { background-color: aqua;
}
.header { background-color: orange;
	width: 50%;  height: 50%;
	
}
.navigasi { background-color: red;
}
.main { background-color: pink;
}
.copyright { 
	background-color: green;
	text-align: center;
	margin-bottom: -300px;
}
.main span { background-color: lightblue;