body {
	background-color : aqua ; 
}
#p1 { color : red; font-weight : bold ;
}
.p2 { color : orange ;
}
.cetak-tebal { font-weight : bold ;
}
a { text-decoration : none ;
}
.WebPrograming : link { color : orange; 
}
